[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
boto3 = "*"
fybrik_python_vault = {version="0.1.0", index="testpypi"}
pyyaml = "*"
fybrik-python-logging = "*"
dbt-core = "*"
dbt-trino = "*"
dbt-dremio = "*"
json-rpc = "*"


[dev-packages]

[requires]
python_version = "3.8"
git = "2.17.1"